.radio-toggle{
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #424444;
    border-radius: 50px;
    padding: .1rem;
    background-color: #424444;
   
}
input[type="radio"]{
    display: none;
}
.label-img1, .label-img2 {
    display: inline-block;
    width: 2rem;
    height: 2rem;  
    border-radius: 50%;
    padding-top: .2rem;
    padding-left: .1rem;
    opacity: 1;
}
.label-img1{
    opacity: 0;
}
/*input[type="radio"]:checked + .label-img{
   opacity: 1
}*/
