.btn-bar{
    position: absolute;
    right: -1.5rem;
    top: 2.75rem;
    width: 2rem;
    height: 2rem;
    padding: .4rem .3rem .3rem;
    border-radius: 50%;
    text-align: center;
    font-family: var(--font-OS);
    font-size: 1.6rem;
    color: #EFEFEF;
    font-weight: 700;
    background-color: #A492FF;
}