.hidden{
    position:relative;
    width: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    background-color: #242625;   
    transition: all 1s ease; 
}
.list-top, .list-bottom {
    width: 60%;
    padding: 0;   
    margin-left: 2rem;
}
.list-bottom {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}
