.aside{
    position: absolute;
    left: -15rem;
    top: 0;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    background-color: #242625;   
    transition: all 1.5s easy-in-out; 
    opacity: 0;

}
.aside:hover{  
    transform: translate(15rem, 0);
    opacity: 1;     
}
.item-last-mode{
    display: flex;
    width: 140%;
    justify-content: space-between;
    align-items:center;
    
}
