html{
    font-size: 10px;
    --font-OS: 'Open Sans',  sans-serif;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 75rem;
    height: 100vh;
    justify-content: space-between;    
}
.header{
    margin-left: 1.2rem;
    margin: 0 auto;
    width: 95%;    
}
.container{   
    position: relative;
    margin: 0 auto;
    width: 100%;    
    display: flex;
    justify-content: space-between;
    border: 1px dashed #7B61FF;
}
.h1-title{
    font-family: var(--font-OS);
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 120%;
    letter-spacing: -0.5px;
    color: #100E0F;
    margin: 0;
}
.info{
    font-family: var(--font-OS);
    font-weight: 400;
    font-size: 2rem;
    line-height: 160%;
    letter-spacing: 0.15px;
    color: #787878;
}
.line{
    height: 1px;
    background-color: #100E0F;
    margin-bottom: 2rem;
}
.main-section{
    width: 85%;
    text-align: center;
    padding-top: 5rem;
}
.aside-bar{
    min-width: 9rem;
}


