.item{         
    list-style: none;
    display: flex;
    justify-content: left; 
    align-items: center;    
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #C0BFBD;
    border-radius: 8px;
    transition: all 1s ease;
}
.item:hover{    
    background-color: #424444;
}
.item-img, .data-img{
    width: 2.4rem;
    height: 3.4rem;
    margin:.4rem;
    padding:.8rem;
}
