.title-aside{
    position: relative;   
    display:flex;
    justify-content: left;
    align-items: center;
    color: #C0BFBD;
    gap: .8rem;
    margin: 2rem 2.4rem 5rem 2.4rem;
}
.h2-title{
    font-weight: 700;
    font-size: 1.6rem;
    color: #EFEFEF;
    margin: 0;
}
.email{
    font-weight: 400;
    font-size: 1.4rem;
    color: #C0BFBD;
    margin: .2rem;
}
